.banner{
    width: 100%;
    height: 500px;
    background: url('../img/banner-mobile.png') no-repeat;
    background-size: cover;  
    margin-bottom: 0;
   
    

}
@media screen and (min-width: 768px){
    .banner{
        background: url('../img/banner-tablet.png') no-repeat;
        background-size: cover;  
    }
}

@media screen and (min-width: 1440px){
    .banner{
        background: url('../img/banner-desktop.png') no-repeat;
        background-size: cover;  
    }
}