.categories {
  /*padding: 88px 24px 0 24px;*/
}

.categories .section-title {
  width: 312px;
  margin: 0 auto;
}

.categories h2 {
  font-size: 32px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.card-container a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.categories-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*width: 312px;*/
  width: 100%;
  height: 220px;
  background-color: var(--background-secondary-collor);
  gap: 24px;
}
.categories-cards.transfer img {
  margin: 10px 0 20px;
}

.categories-cards h3 {  
  text-align: center;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
  }
  .categories-cards {
    width: 312px;
    height: 220px;
  }

  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    flex-wrap: nowrap;
  }
  .categories-cards {
    width: 281px;
    height: 220px;
  }
}
