.footer-container {
  background-color: var(--background-terciary-collor);
  padding: 32px 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-container .logo-footer {
  height: 40px;
}

.footer-container .footer-text {
  width: 312px;
  margin-bottom: 32px;
}

.footer-container p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  font-weight: var(--text-weight);
  color: var(--background-secondary-collor);
  text-align: center;
}

.footer-container .social {
  text-align: center;
}
.footer-container .social-icon {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 32px 60px;
    gap: 16px;
  }

  .footer-container .footer-text {
    width: 100%;
    
  }
  .footer-container p {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    margin-bottom: 16px;
  }

 
}
