@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-collor: #8F0101;
  --secondary-collor: #B81515;
  --background-primary-collor: #ffffff;
  --background-secondary-collor: #f5f5f5;
  --background-terciary-collor: #000000;

  --text-primary-collor: #222222;
  --text-secondary-collor: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

h1 {
  font-family: "Montserrat";
  font-weight: var(--title-weight);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}