@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-collor: #8F0101;
  --secondary-collor: #B81515;
  --background-primary-collor: #ffffff;
  --background-secondary-collor: #f5f5f5;
  --background-terciary-collor: #000000;

  --text-primary-collor: #222222;
  --text-secondary-collor: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

h1 {
  font-family: "Montserrat";
  font-weight: var(--title-weight);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-collor);
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);  
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-collor);    
  border: none;
  margin: 16px auto 32px;
   line-height: 100%;
  
}

.button{
  width: 280px;
  height: 64px;
  background-color: var(--secondary-collor);
  color: var(--text-secondary-collor);
  font-weight: var(--title-weight);
  font-size: 20px;  
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover{
    background-color: var(--primary-collor);
  }
}