header {    
    position: relative;
    background-color: var(--background-terciary-collor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 37px 48px;
    

}

.logo{
    display: inline-block;
    width: 60px;
    height: 64px;    
    
}

.navigation-menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    background-color: var(--background-terciary-collor);
    padding: 0 48px;
    
}

nav{
    display: none;
}
.list-links{
    list-style: none;        
   
}

.list-links li{
    margin: 16px 0;
}

.list-links li a{
    color: var(--text-secondary-collor);
    text-decoration: none;    
    font-weight: var(--text-secondary-collor);
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .navigation-menu{
        margin-top: 0;
        width: 467px;      
        
    }

    .navigation-menu label{
        display: none;
    }

    nav{
        display: block;
    }

    .list-links{
        display: flex;        
        justify-content: space-between;
        align-items: center;
        
    }
}

@media screen and (min-width: 1024px) {
    header {
        padding: 38px 120px;        
    }
    .logo {
        width: 260px;
        height: 64px;        
    }
    
    .img-mobile{
        display: none;

    }
    .img-desktop{
        display: block;

    }
   
    .list-links li a:hover{
        color: var(--primary-collor);
    }
}

@media screen and (min-width: 1920px){
header {
        padding: 38px 160px;        
    }
}