header {
    width: 100%;
    height: 138px;
    background-color: var(--background-terciary-collor);
}

.logo{
    display: inline-block;
    width: 60px;
    height: 64px;
    margin: 37px 0 0 48px;
    
}