.hero {
  padding: 0;
}
.hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.png") no-repeat;
  background-size: cover;
}

.hero h2 {
  /*padding: 88px 24px; 15:57*/ 
  padding: 88px 24px 0 24px;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  font-weight: var(--text-weight);
  text-align: center;
  
}
@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url("../img/hero-tablet.jpg") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px 0 60px;
    font-size: 32px;
    line-height: 150%;   
    text-align: center;
  }
}


@media screen and (min-width: 1024px) {
  .hero-img {
    background: url("../img/hero-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 104px 120px 0 120px;
    
  }
}

@media screen and (min-width: 1920px) {  

  .hero h2 {
    padding: 104px 160px;
    
  }
}
