.destination-items {
  padding: 0 24px;
}

.destinations .section-title {
  width: 312px;
  margin: 0 auto;
}

.destinations .section-title h2 {
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0;
}

.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.destinations .item header .img-item {
  height: 360px;
}

.destinations .item header .img-item.tokio {
  background: url("../img/tokio-mobile.jpg") no-repeat;
  background-size: cover;
}

.destinations .item header .img-item.osaka {
  background: url("../img/osaka-mobile.jpg") no-repeat;
  background-size: cover;
}
.destinations .item header h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
  line-height: 100%;
  margin: 24px 0;
}

.destinations .item header p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.destination-items footer .button {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .destinations .section-title {
    width: 100%;
    margin: 0 auto;
  }
  .destination-items {
    padding: 0 60px;
  }

  .destinations .item header .img-item {
    height: 452px;
  }
  .destinations .item header .img-item.tokio {
    background: url("../img/tokio-tablet-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .destinations .item header .img-item.osaka {
    background: url("../img/osaka-tablet-desktop.jpg") no-repeat;
    background-size: cover;
  }

  .destinations .item header h4 {
    font-size: 34px;
  }
  .destination-items footer .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destination-items {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .destination-items {
    padding: 0px 121px;
  }
}

@media screen and (min-width: 1920px) {
    .destination-items{
        justify-content: center;
    }
    .destinations .item {
        width: 588px;
    }
.destinations .item header .img-item {
    width: 588px;
    height: 452px;
  }
}