:root{
    --background-primary-collor: "#ffffff";
    --background-secondary-collor: "#f5f5f5";
    --background-terciary-collor: "#000000";

    --button-primary-collor : "#8F0101";
    --button-secondary-collor : "#B81515";

    --text-primary-collor : "#222222";
    --text-secondary-collor : "#ffffff";
    
};

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

